{% extends 'base_production.html' %}
{% load staticfiles %}
{% block banner %}

<!--盖普法律服务start-->
<div class="cs_main">
  <ul class="title">
		<h2>盖谱法律服务</h2>
		<p>更专业、更快捷</p>
	</ul>
	<ul class="service service01">
		<h4>增值服务：法律服务</h4>
		<span>您需要更专业的选择</span>
		<b>中文合同服务</b>
		<p>公司经营过程中“合同”体现在方方面面，规避合同的风险</p>
		<b>外文合同服务</b>
		<p>专业专注商务合作协议、租赁协议、服务协议等各类合同的代写业务</p>
		<b>创业法律顾问</b>
		<p>产品适用：中小微企业的法律各种场景下的合同代写</p>
	</ul>
	<ul class="service service02">
		<h4>法律服务流程</h4>
		<div>
		  <img src="{% static 'images/img_14.png' %}" alt="" />
		</div>
	</ul>
	<ul class="service service03">
		<h4>服务范围</h4>
		<div class="list">
		  <div>
				<ul class="m_cell_hd"><img src="{% static 'images/img_09.png' %}" alt="" /></ul>
				<ul class="m_cell_hd m_cell_primary"><p><b>合同管理：</b>合同解除；合同立定；违约责任；合同履行；买卖合同；</p></ul>
			</div>
		  <div>
				<ul class="m_cell_hd"><img src="{% static 'images/img_10.png' %}" alt="" /></ul>
				<ul class="m_cell_hd m_cell_primary"><p><b>劳务用工：</b>为劳动合同订立；规章制度拟定；保密与竞业限制；</p></ul>
			</div>
		  <div>
				<ul class="m_cell_hd"><img src="{% static 'images/img_11.png' %}" alt="" /></ul>
				<ul class="m_cell_hd m_cell_primary"><p><b>经营管理：</b>商务谈判；经营决策；业务风险；</p></ul>
			</div>
		  <div>
				<ul class="m_cell_hd"><img src="{% static 'images/img_12.png' %}" alt="" /></ul>
				<ul class="m_cell_hd m_cell_primary"><p><b>财务资产：</b>股权风险；债权分析；财务风险排查；</p></ul>
			</div>
		  <div>
				<ul class="m_cell_hd"><img src="{% static 'images/img_13.png' %}" alt="" /></ul>
				<ul class="m_cell_hd m_cell_primary"><p><b>诉讼仲裁：</b>经济犯罪；账款催收；担保；签发律师函；</p></ul>
			</div>
		</div>
	</ul>
</div>
<!--盖普法律服务end-->

<!--图片位start-->
<div class="p_img"><a href="##" title=""><img src="{% static 'images/img_08.jpg' %}" alt="" /></a></div>
<!--图片位end-->

<!--优势start-->
<div class="advantage advantage02">
	<h2>盖谱法律服务的优势</h2>
	<ul>
		<p><i>资金筹措：</i>企业上市、定向筹集、银行借贷等，都有非常复杂的法律问题，都需要法律顾问来帮助解决。</p>
		<p><i>实现战略目标：</i>合营、技术联盟、项目合作、业务重组等，法律顾问的职能必须与企业的最高经营找略目标相符。</p>
		<p><i>增加资产：</i>保护知识产权，所有权的确定和相关诉讼。</p>
		<p><i>品牌增值：</i>通过企业注册商标的一整套法律保障机制，不仅可以使品牌免受侵权之累，更能使品牌在市场中保值增值。</p>
	</ul>
</div>
<!--优势end-->



{% endblock %}