{% extends 'base_production.html' %}
{% load staticfiles %}
{% block banner %}


<!--财税服务核心start-->
<div class="cs_main">
  <ul class="title">
		<h2>盖谱财税服务核心理念</h2>
		<p>更专业、更快捷</p>
	</ul>
	<ul class="list">
		<b>零风险</b>
		<p>五项做账系统风险监控+三重人工核查确保零风险记账</p>
		<b>专业团队</b>
		<p>14年行业经验，熟悉各种国内财税政策，为企业合理避税</p>
		<b>风险预警</b>
		<p>每月每季度实时财务报告，企业财税风险实时预警，及时提供解决方案</p>
		<b>高品质服务</b>
		<p>免费提供上门服务，24小时在线专属财税顾问，为您解决后顾之忧</p>
		<b>企业服务一条龙</b>
		<p>企业定制服务，为企业解决财务管理、人力资源、知识产权等全套服务</p>
	</ul>
</div>
<!--财税服务核心end-->

<!--代账服务start-->
<div class="dz_service">
	<h2>审计服务</h2>
</div>
<!--代账服务end-->

<!--服务范围start-->
<div class="cfjc_service">
	<b>服务范围</b>
	<ul>
		<p>年度会计报表审计</p>
		<p>合并、收购会计报表审计</p>
		<p>股份改造会计报表审计</p>
		<p>离任审计</p>
		<p>高新技术专项审计</p>
		<p>股票上市会计报表审计</p>
		<p>复核中期报告</p>
		<p>内部审计</p>
		<p>清算审计</p>
		<p>其他特定审核</p>
	</ul>
</div>
<!--服务范围end-->

<!--服务流程start-->
<div class="dz_step">
	<h2>服务流程</h2>
	<ul>
	  <li>
			<div class="m_cell_hd"><img src="{% static 'images/img_10.jpg' %}" alt="" /></div>
			<div class="m_cell_hd m_cell_primary">
				<h4>客户审计需求</h4>
				<p>专业客服对接，了解客户审计需求</p>
			</div>
		</li>
	  <li>
			<div class="m_cell_hd"><img src="{% static 'images/img_04.jpg' %}" alt="" /></div>
			<div class="m_cell_hd m_cell_primary">
				<h4>进场审计</h4>
				<p>客户资料准备完毕，5个工作日内安排人员进场审计</p>
			</div>
		</li>
	  <li>
			<div class="m_cell_hd"><img src="{% static 'images/img_05.jpg' %}" alt="" /></div>
			<div class="m_cell_hd m_cell_primary">
				<h4>客户确认电子审计报告</h4>
				<p>专业客户一对一服务对接电子审计报告</p>
			</div>
		</li>
	  <li>
			<div class="m_cell_hd"><img src="{% static 'images/img_06.jpg' %}" alt="" /></div>
			<div class="m_cell_hd m_cell_primary">
				<h4>出具纸质正式审计报告</h4>
				<p>审计事务所出具正式审计报告</p>
			</div>
		</li>
	  <li>
			<div class="m_cell_hd"><img src="{% static 'images/img_07.jpg' %}" alt="" /></div>
			<div class="m_cell_hd m_cell_primary">
				<h4>审计完成</h4>
				<p>完成审计交接相关相关材料</p>
			</div>
		</li>
	</ul>
</div>
<!--服务流程end-->

<!--准备材料start-->
<div class="cs_main dyh_service rlzy">
  <ul class="title">
		<h2>需要准备的材料</h2>
	</ul>
	<ul class="list">
		<b>财务报表</b>
		<p>根据审计需求不同，取不同年份时间段的财务报表</p>
		<b>其他资料</b>
		<p>需要提供的各种其他证件、公章、合同、银行对账单等各种资料</p>
	</ul>
</div>
<!--准备材料end-->

<!--图片位start-->
<div class="p_img"><a href="##" title=""><img src="{% static 'images/img_08.jpg' %}" alt="" /></a></div>
<!--图片位end-->




{% endblock %}