{% extends 'base_production.html' %}
{% load staticfiles %}
{% block banner %}

<!--财税服务核心start-->
<div class="cs_main">
  <ul class="title">
		<h2>盖谱财税服务核心理念</h2>
		<p>更专业、更快捷</p>
	</ul>
	<ul class="list">
		<b>零风险</b>
		<p>五项做账系统风险监控+三重人工核查确保零风险记账</p>
		<b>专业团队</b>
		<p>14年行业经验，熟悉各种国内财税政策，为企业合理避税</p>
		<b>风险预警</b>
		<p>每月每季度实时财务报告，企业财税风险实时预警，及时提供解决方案</p>
		<b>高品质服务</b>
		<p>免费提供上门服务，24小时在线专属财税顾问，为您解决后顾之忧</p>
		<b>企业服务一条龙</b>
		<p>企业定制服务，为企业解决财务管理、人力资源、知识产权等全套服务</p>
	</ul>
</div>
<!--财税服务核心end-->

<!--商标注册start-->
<div class="dz_service">
	<h2>商标注册</h2>
</div>
<!--商标注册end-->

<!--注册原则start-->
<div class="advantage resiger_tenet">
	<h2>商标注册的原则</h2>
	<ul>
		<p>1、	自愿注册和强制注册相结合原则。</p>
		<p>我国大部分商标采取自愿注册原则。国家法律、行政法规规定必须使用注册商标的商品（主要指卷烟、雪茄烟、有包装的烟丝）的生产经营者，必须申请商标注册；</p>
		<p>2、	显著原则。</p>
		<p>申请注册的商标，应当具有显著特征，便于识别，并不得与他人在先取得的合法权利相冲突；</p>
		<p>3、	商标合法原则。</p>
		<p>申请注册商标不得使用法律禁止的标志；</p>
		<p>4、	对商标注册申请进行审查公告时，坚持申请在先为主、使用在先为辅的原则；</p>
		<p>5、	禁止抢注商标原则。</p>
		<p>申请商标注册不得以不正当手段抢先注册他人已经使用并有一定影响的商标。</p>
	</ul>
</div>
<!--注册原则end-->


<!--服务流程start-->
<div class="dz_step">
	<h2>服务流程</h2>
	<ul>
	  <li>
			<div class="m_cell_hd"><img src="{% static 'images/img_09.jpg' %}" alt="" /></div>
			<div class="m_cell_hd m_cell_primary">
				<h4>免费查询商标</h4>
				<p>查询能否注册、如何注册</p>
			</div>
		</li>
	  <li>
			<div class="m_cell_hd"><img src="{% static 'images/img_04.jpg' %}" alt="" /></div>
			<div class="m_cell_hd m_cell_primary">
				<h4>准备材料提交</h4>
				<p>准备商标申请材料、工作日5小时提交、次日拿到申请号</p>
			</div>
		</li>
	  <li>
			<div class="m_cell_hd"><img src="{% static 'images/img_05.jpg' %}" alt="" /></div>
			<div class="m_cell_hd m_cell_primary">
				<h4>官方审查</h4>
				<p>3个月拿到受理通知书、6-9个月进入初审公告期</p>
			</div>
		</li>
	  <li>
			<div class="m_cell_hd"><img src="{% static 'images/img_06.jpg' %}" alt="" /></div>
			<div class="m_cell_hd m_cell_primary">
				<h4>注册成功</h4>
				<p>12个月领取商标注册证书</p>
			</div>
		</li>
	  <li>
			<div class="m_cell_hd"><img src="{% static 'images/img_07.jpg' %}" alt="" /></div>
			<div class="m_cell_hd m_cell_primary">
				<h4>相关材料交接</h4>
				<p>完成商标注册的相关材料交接</p>
			</div>
		</li>
	</ul>
</div>
<!--服务流程end-->

<!--材料start-->
<div class="cs_main dyh_service">
  <ul class="title">
		<h2>需要准备的材料</h2>
	</ul>
	<ul class="list">
		<b>企业申请</b>
		<p>营业执照复印件、清晰的商标标识</p>
		<b>个人申请</b>
		<p>营业执照复印件、清晰的商标表示、身份证复印件</p>
	</ul>
</div>
<!--材料end-->

<!--图片位start-->
<div class="p_img"><a href="##" title=""><img src="{% static 'images/img_08.jpg' %}" alt="" /></a></div>
<!--图片位end-->



{% endblock %}