{% extends 'base.html' %}
{% load staticfiles %}
 {% block title %}

 <title>Cooperator Plan</title>
 {% endblock %}

{% block banner %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/c1.css' %}">
          <header class="mbg-color t_header">
            <a class="hback" onclick="history.go(-1);">
                 <img src="http://skylinetianyu.tour-mall.com:80/ishop/images/iback.png">
            </a>
           <h2>
              <span>联系客服</span>
           </h2>
            <div class="header-right">
            </div>
         </header>


{% endblock %}


