{% extends 'base_production.html' %}
{% load staticfiles %}
{% block banner %}
<!--人力资源服务start-->
<div class="cs_main rlzy">
  <ul class="title">
		<h2>人力资源服务</h2>
		<p>更专业、更快捷</p>
	</ul>
	<ul class="list">
		<b>服务内容</b>
		<p><i>人员招聘与录用：</i>人才库建立、简历筛选与审查、面试与评估、背景调查、聘用</p>
		<p><i>酬薪福利管理：</i>酬薪与绩效的计算与发放、保险和公积金的缴纳、考勤管理</p>
		<p><i>合同管理：</i>劳动合同签订、合同变更与续签、信息安全文件签署</p>
		<p><i>数据分析：</i>招聘分析、人员入离职、人力资源成本分析</p>
		<p><i>政策及法律咨询：</i>各地社保与公积金政策咨询、法律咨询</p>
	</ul>
</div>
<!--人力资源服务end-->


<!--图片位start-->
<div class="p_img"><a href="##" title=""><img src="{% static 'images/img_08.jpg' %}" alt="" /></a></div>
<!--图片位end-->

<!--为什么选盖普start-->
<div class="gp_resion">
	<h2>为什么选盖谱？</h2>
	<ul class="clearfix">
	  <li>
	    <img src="{% static 'images/img_01.png' %}" alt="" />
			<b>专业资深团队</b>
			<p>盖谱数据拥有资深会计师56名，服务团队30名公司总员工120于人，公司实力强大值得信赖</p>
		</li>
	  <li>
	    <img src="{% static 'images/img_02.png' %}" alt="" />
			<b>收费价格透明合理</b>
			<p>盖谱数据所有收费项目都透明合理，绝无隐形收费、乱收费等行为</p>
		</li>
	</ul>
	<ul class="clearfix">
	  <li>
	    <img src="{% static 'images/img_03.png' %}" alt="" />
			<b>服务不满意可推全款</b>
			<p>我们的宗旨是全心全意为客户解决问题，让客户省心、放心</p>
		</li>
	  <li>
	    <img src="{% static 'images/img_04.png' %}" alt="" />
			<b>提供企业一站式服务</b>
			<p>专业服务企业14年，企业问题我们一站式解决</p>
		</li>
	</ul>
</div>



{% endblock %}