{% extends 'base.html' %}
{% load staticfiles %}
<head>
  <meta charset="utf-8">
  <meta name="renderer" content="webkit">
  <meta name="format-detection" content="telephone=no" />
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">

  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">


  <link rel="stylesheet" type="text/css" href="  http://at.alicdn.com/t/font_504642_7a6v33turi7o80k9.css">
      <link rel="stylesheet" type="text/css" href="{% static 'css/swiper.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/common.css' %}">
    {% block title %}
  <title>index</title>
    {% endblock %}
  <script src="{% static 'js/jquery-1.7.min.js' %}"></script>
    <script src="{% static 'js/swiper.jquery.min.js' %}"></script>
</head>

<body>


<!-- 轮播图 -->
{% block banner %}
<div class="index-banner">
  <div class="swiper-container " id="index-banenr-swiper">
    <div class="swiper-wrapper">
        {% for banner in all_banners %}
      <div class="swiper-slide"><a href="#"><img src="{{ MEDIA_URL }}{{ banner.image }}" alt=""></a></div>
{#      <div class="swiper-slide"><a href="#"><img src="{% static 'images/banner01.jpg' %}" alt=""></a></div>#}
{#      <div class="swiper-slide"><a href="#"><img src="{% static 'images/banner01.jpg' %}" alt=""></a></div>#}
        {% endfor %}
    </div>
    <div class="swiper-pagination banner-swiper-pagination"></div>
  </div>
</div>
{% endblock %}
<!-- /轮播图 -->
<!-- 频道 -->
{% block chanel %}
<div class="channel-nav">
  <ul class="cf">
    <li>
      <a href="#">
        <div class="table-cell-auto">
          <h3>注册服务</h3>
          <p></p>
        </div>
        <div class="table-cell">
          <div class="pic">
            <img src="{% static 'images/demo.jpeg' %}" alt="">
          </div>
        </div>
      </a>
    </li>
    <li>
      <a href="#">
        <div class="table-cell-auto">
          <h3>财会税务</h3>
          <p></p>
        </div>
        <div class="table-cell">
          <div class="pic">
            <img src="{% static 'images/demo.jpeg' %}" alt="">
          </div>
        </div>
      </a>
    </li>
    <li>
      <a href="#">
        <div class="table-cell-auto">
          <h3>增值服务</h3>
          <p></p>
        </div>
        <div class="table-cell">
          <div class="pic">
            <img src="{% static 'images/demo.jpeg' %}" alt="">
          </div>
        </div>
      </a>
    </li>
    <li>
      <a href="#">
        <div class="table-cell-auto">
          <h3>人力资源</h3>
          <p></p>
        </div>
        <div class="table-cell">
          <div class="pic">
            <img src="{% static 'images/demo.jpeg' %}" alt="">
          </div>
        </div>
      </a>
    </li>
      <li>
      <a href="#">
        <div class="table-cell-auto">
          <h3>知识产权</h3>
          <p></p>
        </div>
        <div class="table-cell">
          <div class="pic">
            <img src="{% static 'images/demo.jpeg' %}" alt="">
          </div>
        </div>
      </a>
    </li>
      <li>
      <a href="#">
        <div class="table-cell-auto">
          <h3>海外业务</h3>
          <p></p>
        </div>
        <div class="table-cell">
          <div class="pic">
            <img src="{% static 'images/demo.jpeg' %}" alt="">
          </div>
        </div>
      </a>
    </li>
  </ul>
</div>
{% endblock %}
<!-- /频道 -->

<!-- 热门推荐 -->
{% block investigate %}
<div class="fast-venturing">
  <div class="headline-h2">
    <h2>热门推荐</h2>
  </div>

  <div class="bd">
    <div class="swiper-container financing-choice-swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <a href="#">
            <b>活期</b>
            <span>3.9%</span>
          </a>
        </div>
        <div class="swiper-slide">
          <a href="#">
            <b>活期</b>
            <span>3.9%</span>
          </a>
        </div>
        <div class="swiper-slide">
          <a href="#">
            <b>活期</b>
            <span>3.9%</span>
          </a>
        </div>
        <div class="swiper-slide">
          <a href="#">
            <b>活期</b>
            <span>3.9%</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
<!-- /热门推荐 -->

<!-- 产品业务 -->
{% block product_list %}
<div class="financing-choice">
  <div class="headline-h2">
    <h2>产品服务</h2>
  </div>
  <div class="bd">
    <a href="#">
      <h3>累积服务企业</h3>
      <h4>3000 <span>家中小企业</span></h4>
      <h5>满意度100%</h5>
      <h6><span>平均收费</span><i>|</i><span>1000元-3000元</span></h6>
    </a>
  </div>
  <div class="ft">
    <ul>
     {% for product in all_Products %}
       <li>
        <a href="{% url 'product_detail' product.id %}">
          <div class="pic">
            <img src="{{ MEDIA_URL }}{{ product.image }}" alt="">
          </div>
          <div class="text">
            <h3>{{ product.name }}</h3>
            <h4>{{ product.desc }}</h4>
            <h5>{{ product.min_price }}元起</h5>
          </div>

        </a>
       </li>
     {% endfor %}
     </ul>
  </div>
</div>
   <div class="headline-h2">
     <a href="{% url 'product_list' %}">
            <h2>更多产品</h2>
     </a>
  </div>
{#{% for product in all_Products.object %}#}
{#  <div class="ft">#}
{#    <ul>#}
{#      <li>#}
{#        <a href="{% url 'product_list' %}">#}
{#          <div class="pic">#}
{#            <img src="{{ MEDIA_URL }}{{ product.image }}" alt="">#}
{#          </div>#}
{#          <div class="text">#}
{#            <h3>{{ product.name }}</h3>#}
{#            <h4>{{ product.desc }}</h4>#}
{#            <h5>{{ product.min_price }}元起</h5>#}
{#          </div>#}
{##}
{#        </a>#}
{#      </li>#}
{#    </ul>#}
{#  </div>#}
{#{% endfor %}#}


{% endblock %}
<!-- /产品业务 -->

<!-- 轮播图 -->
{% block banner1 %}
<div class="bottom-banner">
  <div class="swiper-container bottom-banner-swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide"><a href="#"><img src="{% static 'images/demo03.png' %}" alt=""></a></div>
      <div class="swiper-slide"><a href="#"><img src="{% static 'images/demo03.png' %}" alt=""></a></div>
      <div class="swiper-slide"><a href="#"><img src="{% static 'images/demo03.png' %}" alt=""></a></div>
    </div>
    <!-- <div class="swiper-pagination bottom-banner-swiper-pagination"></div> -->
  </div>
</div>
{% endblock %}
<!-- /轮播图 -->

<!-- /footer -->

<script>
  $('html').css('background', '#f0f0f2');
    $('html').css('padding-bottom', '54px');
  var mySwiper0 = new Swiper('#index-banenr-swiper', {
    paginationClickable: true,
    pagination: '.banner-swiper-pagination',
    autoplay: 3000, //可选选项，自动滑动
  })

  var mySwiper2 = new Swiper('.bottom-banner-swiper', {
    paginationClickable: false,
    pagination: '.bottom-banner-swiper-pagination',
    autoplay: 3000, //可选选项，自动滑动
  })

  var swiper1 = new Swiper('.financing-choice-swiper', {
    pagination: '.banner-swiper-pagination13',
    slidesPerView: 2.8,
    paginationClickable: true,
    spaceBetween: 15
  });
</script>
