{% extends 'base_production.html' %}
{% load staticfiles %}
{% block banner %}

<!--财税服务核心start-->
<div class="cs_main">
  <ul class="title">
		<h2>盖谱财税服务核心理念</h2>
		<p>更专业、更快捷</p>
	</ul>
	<ul class="list">
		<b>零风险</b>
		<p>五项做账系统风险监控+三重人工核查确保零风险记账</p>
		<b>专业团队</b>
		<p>14年行业经验，熟悉各种国内财税政策，为企业合理避税</p>
		<b>风险预警</b>
		<p>每月每季度实时财务报告，企业财税风险实时预警，及时提供解决方案</p>
		<b>高品质服务</b>
		<p>免费提供上门服务，24小时在线专属财税顾问，为您解决后顾之忧</p>
		<b>企业服务一条龙</b>
		<p>企业定制服务，为企业解决财务管理、人力资源、知识产权等全套服务</p>
	</ul>
</div>
<!--财税服务核心end-->

<!--注册start-->
<div class="resiger">
  <ul>
		<a href="javascript:;" title="" class="on">离岸公司注册</a>
		<a href="javascript:;" title="">新加坡公司注册</a>
		<a href="javascript:;" title="">香港公司注册</a>
	</ul>
	<b><a href="##" title="">离岸公司注册</a></b>
</div>
<!--注册end-->

<!--服务流程start-->
<div class="dz_step">
	<h2>服务流程</h2>
	<ul>
	  <li>
			<div class="m_cell_hd"><img src="{% static 'images/img_09.jpg' %}" alt="" /></div>
			<div class="m_cell_hd m_cell_primary">
				<h4>名称查册</h4>
				<p>查询能否注册</p>
			</div>
		</li>
	  <li>
			<div class="m_cell_hd"><img src="{% static 'images/img_04.jpg' %}" alt="" /></div>
			<div class="m_cell_hd m_cell_primary">
				<h4>提交资料</h4>
				<p>提交公司注册资料、预付定金</p>
			</div>
		</li>
	  <li>
			<div class="m_cell_hd"><img src="{% static 'images/img_05.jpg' %}" alt="" /></div>
			<div class="m_cell_hd m_cell_primary">
				<h4>政府审批</h4>
				<p>政府审批注册资料</p>
			</div>
		</li>
	  <li>
			<div class="m_cell_hd"><img src="{% static 'images/img_06.jpg' %}" alt="" /></div>
			<div class="m_cell_hd m_cell_primary">
				<h4>注册成功</h4>
				<p>领取绿盒</p>
			</div>
		</li>
	  <li>
			<div class="m_cell_hd"><img src="{% static 'images/img_07.jpg' %}" alt="" /></div>
			<div class="m_cell_hd m_cell_primary">
				<h4>相关材料交接</h4>
				<p>完成注册的相关材料交接</p>
			</div>
		</li>
	</ul>
</div>
<!--服务流程end-->

<!--材料start-->
<div class="cs_main dyh_service lags">
  <ul class="title">
		<h2>需要准备的材料</h2>
	</ul>
	<ul class="list">
		<p>公司中英文名称</p>
		<p>法定注册地址</p>
		<p>公司注册资本</p>
		<p>法定注册秘书</p>
		<p>股东人选和股份比例</p>
		<p>董事及董事主席人选</p>
	</ul>
</div>
<!--材料end-->

<!--图片位start-->
<div class="p_img"><a href="##" title=""><img src="{% static 'images/img_08.jpg' %}" alt="" /></a></div>
<!--图片位end-->

<!--优势start-->
<div class="advantage advantage01">
	<h2>注册离岸公司的优势</h2>
	<ul>
		<p>提升企业形象：当今世界经济日趋一体化，商业越来越呈现跨国界的发展趋势，企业也经常用跨国经营来增强企业实力，扩大企业的经营区域。而注册成立海外离岸公司是企业走向世界，开展跨国业务，提升企业国际形象的捷径。</p>
		<p>公司成立快速：离岸公司的注册程序非常简单，有 专业的注册代理机构代为完成，不 需要注册人亲自到注册地进行操作。公司成立手续简单、费用低。</p>
		<p>文件高度保密：海外离岸公司的股东身份，董事名册，股权比例，收益状况等资料高度保密并受法律保护，公众人士不能查阅。</p>
		<p>绕开外汇管理，方便引资：注册一家海外离岸公司，然后以该公司的名义进行海外融资和在香港或新加坡的二板上市，相对而言会比较简单便捷。</p>
		<p>税收上的优惠：离岸公司通常没有任何税收负担，所有离岸法区均不同程度地规定了离岸公司所取得的营业收入和利润免交当地税赋或以极低的税率（如1%）交纳，有的甚至免交遗产税等。</p>
		<p>方便国际交易：如果该企业拥有一间海外 离岸公司，企业就可直接向离岸公司出口产品。</p>
		<p>公司管理简便灵活：离岸公司无须每年召开股东大会及董事会，即使召开，其地点也可任意选择。另外只要委托一个公司秘书即可保证公司的日常运作与当地法律没有冲突。</p>
	</ul>
</div>
<!--优势end-->








{% endblock %}