<!doctype html>
<html>
{% load staticfiles %}
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=yes">
<title>产品服务详情</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/shoujisc.css' %}">
<script type="text/javascript" src="{% static 'js/jquery-1.7.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/woxiangyao.js' %}"></script>
<script type="text/javascript" src="{% static 'js/TouchSlide.1.1.js' %}"></script>
<script type="text/javascript" src="{% static 'js/foot.js' %}"></script>
<style>
.span_border {border:1px solid #000;}
.black_overlay{
    display: none;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index:1001;
    -moz-opacity: 0.8;
    opacity:.80;
    filter: alpha(opacity=88);
}
.white_content {
    display: none;
    position: absolute;
    top: 25%;
    left: 25%;
    width: 55%;
    height: 55%;
    padding: 20px;
    border: 10px solid orange;
    background-color: white;
    z-index:1002;
    overflow: auto;
}
</style>
<script type="text/javascript">
    $(function(){
        $('.span_border').click(function(){
            document.getElementById('light').style.display='block';
        })
        $('#light').click(function(){
            document.getElementById('light').style.display='none';
        })
    })
</script>
</head>

<body>



    <div class="sjsc-title1">
    	<h3 class="sjsc-t1l f-l"><a href="JavaScript:;"><span><</span>商品详情</a></h3>
        <a href="#" class="sjsc-t1r f-r"><img src=""></a>
        <div style="clear:both;"></div>
    </div>
    <div class="banner1" id="ban1">
        <ul class="sy-ul">
            <li><a href="#"><img src="{{ MEDIA_URL }}{{ product.image }}"></a></li>

        </ul>
        <ol class="sy-ol">
        </ol>
    </div>

    <div class="spxq-info1">
    	<ul class="spxq-ul1">
        	<li>
            	<h3><a href="#">{{ product.name }} <span>:唯一的不同，就是处处不同</span></a></h3>
                <div>
                	<p class="spxq-p1 f-l">价格：<span>￥{{ product.min_price }}起</span></p>
                	<p class="spxq-p2 f-r">选择您的私人助理：<span class="span_border">客服小张</span>&nbsp;<span class="span_border">客服小丽</span></p>
                    <div style="clear:both;"></div>
                </div>
            </li>
        </ul>
        <div class="spxq-if1">
        	<p>活动公告：活动期间赠送商品总额5%的资金</p>
        </div>
    </div>
    <div class="spxq-info2">
    	<ul class="spxq-ul2">
        	<li class="current"><a href="JavaScript:;">图文详情</a></li>
        	<li><a href="JavaScript:;">客户评论</a></li>
            <div style="clear:both;"></div>
        </ul>
        <div class="spxq-box">
        	<div class="spxq-k spxq-k1">
                {{ product.detail | safe }}
            </div>
            <div class="spxq-k spxq-k2" style="display:none;">
            	{%  for user_comments in all_comments%}
                <div class="k2-if">
                	<p class="k2-top">发布时间：{{ user_comments.add_time }}</p>
                    <dl class="k2-ft">
                    	<!--<dt><a href="#"><img src="" /></a></dt>-->
                        <dd>
                        	<p class="k2-p1">{{ user_comments.user }}：<span>{{ user_comments.comments | safe }}</span></p>
                        	<!--<p class="k2-p2">用户ID：133233125（唯一不变的标识）</p>-->
                            <ul class="k2-ul1">
                            	<!--<li><a href="#"><img src="images/sjsc33.jpg" /></a></li>-->
                            	<!--<li><a href="#"><img src="images/sjsc33.jpg" /></a></li>-->
                            	<!--<li><a href="#"><img src="images/sjsc33.jpg" /></a></li>-->
                                <!--<div style="clear:both;"></div>-->
                            </ul>
                        </dd>
                        <div style="clear:both;"></div>
                    </dl>
                </div>
                {% endfor %}
            </div>
            <div class="spxq-k spxq-k3" style="display:none;">
            	<div class="k3-if1">
                	<div class="k3-b1">
                    	<h3><a href="#">恭喜你募集到了Apple iPhone6s Plus 64G 金色手机一部</a></h3>
                        <div class="k3b-time">
                        	<p class="k3b-p1 f-l">我要中大奖</p>
                        	<p class="k3b-p2 f-r">11.23  20:35</p>
                            <div style="clear:both;"></div>
                        </div>
                        <dl class="k3b-dl1">
                        	<dt><a href="#"><img src="images/sjsc33.jpg" /></a></dt>
                            <dd>
                            	<div class="k3b-pb">
                                	<p class="k3b-pp">Apple iPhone6s Plus 64G 颜色随机 唯一的不同，就是处处不同</p>
                            		<p class="k3b-pp">不是每个人都有这么好的人缘的，这次iPhone6s 到手，要感谢我亲爱的朋友们。</p>
                                </div>
                                <div class="k3b-tiao">
                                	<p><a href="JavaScript:;">2<span>∧</span></a></p>
                                </div>
                            </dd>
                            <div style="clear:both;"></div>
                        </dl>
                    </div>
                    <ul class="k3-b2">
                    	<li>
                        	<div class="k3b2-if1">
                                <p class="k3b2-p1 f-l">我要中大奖</p>
                                <p class="k3b2-p2 f-r">11.23  22:15</p>
                                <div style="clear:both;"></div>
                            </div>
                            <p class="k3b2-p3">我想要，给我来一部，上演帽子戏法 </p>
                        </li>
                    	<li>
                        	<div class="k3b2-if1">
                                <p class="k3b2-p1 f-l">我要中大奖</p>
                                <p class="k3b2-p2 f-r">11.23  22:15</p>
                                <div style="clear:both;"></div>
                            </div>
                            <p class="k3b2-p3">我想要，给我来一部，上演帽子戏法 </p>
                        </li>
                    </ul>
                    <button class="k3-b3">我要评论</button>
                </div>
                <div class="k3-if1">
                	<div class="k3-b1">
                    	<h3><a href="#">恭喜你募集到了Apple iPhone6s Plus 64G 金色手机一部</a></h3>
                        <div class="k3b-time">
                        	<p class="k3b-p1 f-l">我要中大奖</p>
                        	<p class="k3b-p2 f-r">11.23  20:35</p>
                            <div style="clear:both;"></div>
                        </div>
                        <dl class="k3b-dl1">
                        	<dt><a href="#"><img src="images/sjsc33.jpg" /></a></dt>
                            <dd>
                            	<div class="k3b-pb">
                                	<p class="k3b-pp">Apple iPhone6s Plus 64G 颜色随机 唯一的不同，就是处处不同</p>
                            		<p class="k3b-pp">不是每个人都有这么好的人缘的，这次iPhone6s 到手，要感谢我亲爱的朋友们。</p>
                                </div>
                                <div class="k3b-tiao">
                                	<p><a href="JavaScript:;">2<span>∧</span></a></p>
                                </div>
                            </dd>
                            <div style="clear:both;"></div>
                        </dl>
                    </div>
                    <ul class="k3-b2">
                    	<li>
                        	<div class="k3b2-if1">
                                <p class="k3b2-p1 f-l">我要中大奖</p>
                                <p class="k3b2-p2 f-r">11.23  22:15</p>
                                <div style="clear:both;"></div>
                            </div>
                            <p class="k3b2-p3">我想要，给我来一部，上演帽子戏法 </p>
                        </li>
                    	<li>
                        	<div class="k3b2-if1">
                                <p class="k3b2-p1 f-l">我要中大奖</p>
                                <p class="k3b2-p2 f-r">11.23  22:15</p>
                                <div style="clear:both;"></div>
                            </div>
                            <p class="k3b2-p3">我想要，给我来一部，上演帽子戏法 </p>
                        </li>
                    </ul>
                    <button class="k3-b3">我要评论</button>
                </div>
                <div class="k3-if1">
                	<div class="k3-b1">
                    	<h3><a href="#">恭喜你募集到了Apple iPhone6s Plus 64G 金色手机一部</a></h3>
                        <div class="k3b-time">
                        	<p class="k3b-p1 f-l">我要中大奖</p>
                        	<p class="k3b-p2 f-r">11.23  20:35</p>
                            <div style="clear:both;"></div>
                        </div>
                        <dl class="k3b-dl1">
                        	<dt><a href="#"><img src="images/sjsc33.jpg" /></a></dt>
                            <dd>
                            	<div class="k3b-pb">
                                	<p class="k3b-pp">Apple iPhone6s Plus 64G 颜色随机 唯一的不同，就是处处不同</p>
                            		<p class="k3b-pp">不是每个人都有这么好的人缘的，这次iPhone6s 到手，要感谢我亲爱的朋友们。</p>
                                </div>
                                <div class="k3b-tiao">
                                	<p><a href="JavaScript:;">2<span>∧</span></a></p>
                                </div>
                            </dd>
                            <div style="clear:both;"></div>
                        </dl>
                    </div>
                    <ul class="k3-b2">
                    	<li>
                        	<div class="k3b2-if1">
                                <p class="k3b2-p1 f-l">我要中大奖</p>
                                <p class="k3b2-p2 f-r">11.23  22:15</p>
                                <div style="clear:both;"></div>
                            </div>
                            <p class="k3b2-p3">我想要，给我来一部，上演帽子戏法 </p>
                        </li>
                    	<li>
                        	<div class="k3b2-if1">
                                <p class="k3b2-p1 f-l">我要中大奖</p>
                                <p class="k3b2-p2 f-r">11.23  22:15</p>
                                <div style="clear:both;"></div>
                            </div>
                            <p class="k3b2-p3">我想要，给我来一部，上演帽子戏法 </p>
                        </li>
                    </ul>
                    <button class="k3-b3">我要评论</button>
                </div>
            </div>
        </div>
    </div>

<div id="light" style="display:none;" class="white_content">



</body>
</html>
