<!doctype html>
<html>
{% load staticfiles %}

<head>
  <meta charset="utf-8">
  <meta name="renderer" content="webkit">
  <meta name="format-detection" content="telephone=no" />
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <link rel="stylesheet" type="text/css" href="{% static 'css/iconfont.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style1.css' %}">
  <script src="js/jquery-1.7.min.js"></script>
  <title>usercenter</title>
</head>

<body>


<div class="header-bar">
  <h1>个人信息</h1>
</div>
<div class="personal-information">

  <div class="item">
    <div class="hd">用户名</div>
    <div class="bd">tuizer</div>
  </div>
  <div class="item">
    <div class="hd">邮箱</div>
    <div class="bd">tuizer@qq.com</div>
  </div>
  <div class="item-link">
    <a href="#">
      <div class="hd">
        我的消息
      </div>
      <div class="bd">
        (2)
      </div>
    </a>
  </div>
  <div class="item-list mt5">
    <div class="nor">
      <div class="hd">
        我的专业客服
      </div>
      <div class="bd">
        <i class="iconfont icon-xiala2"></i>
      </div>
    </div>
    <div class="list">
      <ul>
        <li><a href="#">客服一</a></li>
        <li><a href="#">客服一</a></li>
        <li><a href="#">客服一</a></li>
      </ul>
    </div>

  </div>
  <div class="item-list mt5">
    <div class="nor">
      <div class="hd">
        我的工单
      </div>
      <div class="bd">
        <i class="iconfont icon-xiala2"></i>
      </div>
    </div>
    <div class="list">
      <ul>
        <li><a href="#">我的工单</a></li>
        <li><a href="#">我的工单</a></li>
        <li><a href="#">我的工单</a></li>
      </ul>
    </div>

  </div>
  <div class="item-list mt5">
    <div class="nor">
      <div class="hd">
        我的订单
      </div>
      <div class="bd">
        <i class="iconfont icon-xiala2"></i>
      </div>
    </div>
    <div class="list">
      <ul>
        <li><a href="#">我的订单我的订单</a></li>
        <li><a href="#">我的订单</a></li>
        <li><a href="#">我的订单</a></li>
      </ul>
    </div>

  </div>


</div>
<script>
  $('html').css('background', '#eee');
  $('.personal-information .item-list .nor').on('click',function(){
    $(this).next().slideToggle();
    $(this).toggleClass('on');
  })
</script>

